<!-- Section: Design Block -->
<section class="text-center">
    <div class="container">

        <form  action="/submit" method="post">

            <h1> Signup </h1>
            <br>
            <div class="row">
                <div class="col-md-6  form-outline">
                    <input class="form-control" type="text" id="form3Example1" placeholder="First Name " required />
                </div>
                <div class="col-md-6  form-outline">
                    <input class="form-control" type="text" id="form3Example2" placeholder="Last Name " required />
                </div>
            </div><br>

            <input class="form-control" type="email" name="email" id="email" placeholder="E-Mail " required /><br>

            <input class="form-control" type="password" name="password" id="password" placeholder="Password "
                required /><br>

            <input class="form-control" type="text" name="phone" id="phone" placeholder="Phone Number " required /><br>
            <br>
            <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>
    
        </form>
    </div>
</section>